<configuration>
    <springProperty scope="context" name="springApplicationName" source="spring.application.name"/>

    <springProfile name="!cloud">
        <include resource="logging/logback-consoletext.xml"/>
    </springProfile>
    <springProfile name="cloud">
        <include resource="logging/logback-consolejson.xml"/>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="MAIN_APPENDER"/>
    </root>

</configuration>
