<included>
    <appender name="MAIN_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d %highlight(%-5level) [${springApplicationName},%X{traceId:-},%X{spanId:-}] %cyan(%logger{35}) - %msg%n</pattern>
        </encoder>
    </appender>
</included>
