<div class="centered-component">
  <div class="content">
    <div class="title">{{ "i18n.verifier.use-case-selector.title" | translate }}</div>
    <div class="description">{{ "i18n.verifier.use-case-selector.description" | translate }}</div>
    <div id="use-cases" class="ob-grid">
      <ng-template [ngForOf]="useCases" let-i="index" let-item ngFor>
        <div class="ob-span-12">
          <mat-card id="use-case-{{ i }}">
            <mat-icon class="info-icon" [svgIcon]="'info-circle'" (click)="openInfoDialog(item)"></mat-icon>
            <mat-card-header>
              <mat-card-title class="title">
                {{ "i18n.verifier.use-cases." + item.title | translate }}
                {{ "i18n.verifier.use-cases.postfix.request" | translate }}
              </mat-card-title>
              <mat-card-subtitle class="description">{{ item.description }}</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
              <div class="ob-flex">
                <button
                  class="ob-button"
                  mat-button
                  obButton="primary"
                  (click)="createVerificationRequest(item)"
                  type="button"
                >
                  {{ "i18n.verifier.use-cases." + item.title | translate }}
                  {{ "i18n.verifier.use-cases.postfix.request" | translate }}
                </button>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <br />
      </ng-template>
    </div>
  </div>
</div>
